.wrapperSignup .title{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #323432;
    margin:0;
    margin-bottom: 20px;
}

.wrapperSignup .inputLogin{
    margin-top: 10px;
    width: 100%;
}

.wrapperSignup .separatorStep1{
    height: 2px;
    border: solid 1px #e9e7e7;
    width: 100%;
    margin-top: 80px;
}

.wrapperSignup .separatorStep2{
    height: 2px;
    border: solid 1px #e9e7e7;
    width: 100%;
    margin-top: 35px;
}

.wrapperSignup .btnSubmitStepOne{
    width: 215px;
    height: 36px;
    border-radius: 2px;
    border:none;
    background-color: #06158f;
    margin-bottom: 35px;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    margin-top: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}

.wrapperSignup .btnSubmitStepTwo{
    width: 215px;
    height: 36px;
    border-radius: 2px;
    border:none;
    background-color: #06158f;
    margin-bottom: 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}

.wrapperSignup .wrapperCheckbox{
    margin-top: 50px;
}

.wrapperSignup .wrapperCheckbox .lblCheckbox{
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.38);
}

.wrapperSignup .wrapperButtons{
    text-align: center;
    margin-top: 30px;
}

.wrapperSignup .statusMessage{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
}

.headerText{
  font-family: Roboto !important;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #323432 !important;
}
.withPaddingSubtitle p.subtitle {
    padding-left: 84px;
}
.withPaddingCustom{
    padding: 10px 85px 0px 85px;
}
.checkbox-wrapper{
    position: relative;
  top: -1px;
}
.Oval-Copy{
    width: 18px;
    height: 18px;
    border: solid 1px #06158f;
}
.Oval{
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-color:black;
    background-color:black;
    color:white;
    padding-left:15px;
    padding-right:15px;
    padding-top:8px;
    padding-bottom:10px;
    font-size:1.3em;
    /* width: 31px;
    height: 31px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); */
    background-color: #4c53d1;
}
.tradingName{
    opacity: 0.09;
    border-radius: 2px;
    background-color: #ff6969;
}
.tradingDt{
    width: 154px;
    height: 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.57);
}
.withlessheaderPadding{
    padding: 18px 85px 0px 85px;
}
.searchButton{
    float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.searchField{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #fff;
    float: left;
    width: 80%;
}
.button-bg{
    width: 301px;
    height: 36px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
}
.cmpi {
    width: 34px !important;
    height: 34px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    line-height: 14px;
  }

.companyData{margin-bottom: 10px;}
.companyData p{font-size: 12px;line-height: 18px;}
.companydatalist {height:240px; overflow-y: scroll; width:100%; }
.companydatalist_btn{padding-top:10px!important; }
.stripe_btn {width: 250px; padding-top:15px; padding-bottom:15px; display: block; margin: 0 auto;  border-radius: 4px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #6772e5; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
.companydatalist {height:inherit; overflow-y: inherit; width:100%; }
}

