.baloonLocationJob{
    height: 64.3px;
    min-width: 331.5px;
    border-radius: 2px;
    box-shadow: 0 5px 20px 0 rgba(96, 100, 112, 0.1);
    background-color: #000000;
    padding: 15px 25px 15px 25px;
    z-index: 9999;
}
.baloonLocationJob:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #000000;
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.baloonLocationJob .title{
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0;
}

.baloonLocationJob .address{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0;

}